* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcfcfc;
  padding: 100px 150px;
  font-family: "Roboto", sans-serif;
}

#main {
  min-height: 100vh;
}

#about-me {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 2px solid #bbbbbb;
}

#about-me p,
.project-information p {
  font-size: 16px;
  line-height: 1.5;
  width: 55%;
}

.project-information {
  margin: 50px 0px;
}

#resume,
#project-main {
  text-align: center;
}

.project-image-container img {
  max-width: 800px;
  border: 1px solid rgb(225, 223, 223);
}
.top-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.intro p {
  color: #454444;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
}

.top-nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  font-family: "Roboto", sans-serif;
}

.top-nav-links a {
  color: #7c7c7c;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  padding-bottom: 5px;
}

.top-nav-links a:hover {
  color: #242424;
  cursor: pointer;
}

h1 {
  color: #242424;
  font-size: 4rem;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
}

h2 {
  font-size: 1.56rem;
  margin-bottom: 20px;
}

#project-container-gallery {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  justify-items: center;
}

.project-card {
  width: 350px;
  height: 350px;
  text-align: center;
  box-sizing: border-box;
}

.gallery-card-image {
  width: 100%;
  height: 300px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-card-image img {
  width: 75%;
  height: auto;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.gallery-card-image:hover {
  background-color: #a6a6a6;
  transition: 0.3s ease-in-out;
}

.project-card h4 {
  margin: 8px 0px 5px;
}

.current-tab {
  border-bottom: 1px solid hsla(183, 87%, 15%, 1);
}

.resume-btn {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

button.button-large {
  background-color: #bbb;
  border: none;
  border-radius: 64px;
  padding: 15px;
}

button.button-large a {
  font-family: "IBM Plex Mono", monospace;
  color: #242424;
  font-weight: 600;
  font-size: 1.25rem;
  /*adding padding to the anchor, not the button, to increase clickable area*/
  padding: 30px;
  text-decoration: none;
}

button.button-large:hover {
  background-color: #a6a6a6;
}

footer {
  margin-top: 100px;
  text-align: center;
}
